<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    <h1 class="titulo1">bem vindo ao meu site !<h1 class="titulo2">{{resposta}}</h1>  </h1>
    <h1 class="titulo3">click aqui pra ouvir musica</h1>
    <button onclick="document.location='http://127.0.0.1:5000/usuario'">usuario</button></P>
</body>
</html>